body {
    margin: 0;
}

#canvas {
    float: left;
}

#size {
    float: left;
    clear: both;
}

#undo {
    float: left;
}

#save {
    float: left;
}

#upload-prompt {
    font-size: 60px;
}

.image {
    border: 10px solid rgba(0, 0, 0, 1);
}