body {
    margin: 0;
}

#canvas {
    float: left;
}

#size {
    float: left;
    clear: both;
}

#undo {
    float: left;
}

#save {
    float: left;
}

#upload-prompt, #home-link {
    font-size: 60px;
}

.image {
    border: 10px solid rgba(0, 0, 0, 1);
}

#upload {
    width: 1000px;
    height: 1000px;
    font-size: 60px;
}

#comment-field {
    width: 500px;
    height: 150px;
}

#comment-submit {

}